th,
td {
  text-align: center;
  padding: 15px;
}

th {
  border: solid black;
  background-color: #000;
  color: #fff;
}

table {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: black;
  color: white;
}

body {
  background-color: #eee;
}
